@import "../../app.scss";

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 80px;
  
  h1 {
    font-size: 80px;
    line-height: 88px;
    color: #8a80d5;
  }

  p {
    font-weight: 300;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    margin: 10px; 
    margin-top: 70px;
    
    h1 {
      font-size: 40px; // Smaller font size for the heading
      line-height: 48px;
    }
    
    p {
      font-size: 14px; // Slightly smaller font size for paragraphs
    }
  }
}
